body {
  background-color: white;
}
h1 {
  color: white;
}

ul {
  list-style-type: none;
}

/*ul:hover {
  font-color: red;
}*/


/*header*/

.cardfont{
  font-family: inter;
  font-size: 16px;
  font-weight: 600;
}

.cardtitlefont{
  font-family: inter;
  font-size: 20px;
  font-weight: 600;
}

.navbarfont{
  font-family: inter;
  font-size: 18px;
  font-weight: 600;
}

.logofont{
  font-family: inter;
  font-size: 24px;
  font-weight: 500;
}

.logofonsmall{
  font-family: inter;
  font-size: 18px;
  font-weight: 500;
}

.usernavbar{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.usernavbar .list{
    display: flex;
    align-items: center;
}

.usernavbar .list ul{
    display: flex;
    gap: 24px;
}


.offerboxes a{
    flex: 25;
}