body {
  background-color: white;
}
h1 {
  color: white;
}

ul {
  list-style-type: none;
}

/*ul:hover {
  font-color: red;
}*/


/*header*/

.cardfont{
  font-family: inter;
  font-size: 16px;
  font-weight: 600;
}

.cardtitlefont{
  font-family: inter;
  font-size: 20px;
  font-weight: 600;
}

.navbarfont{
  font-family: inter;
  font-size: 18px;
  font-weight: 600;
}

.logofont{
  font-family: inter;
  font-size: 24px;
  font-weight: 500;
}

.logofonsmall{
  font-family: inter;
  font-size: 18px;
  font-weight: 500;
}

.usernavbar{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.usernavbar .list{
    display: flex;
    align-items: center;
}

.usernavbar .list ul{
    display: flex;
    gap: 24px;
}


.longimage {
    width: 100%;
    height: 200px;
    margin: 30px auto 40px auto;
}

.longimage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}


.offerboxes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.offerbox {
    width: 160px;
    height: 295px;
    background-color: white;
    border-radius: 15px;
    padding: 14px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    box-shadow: 0 2px 4px rgb(0, 0, 0, 0.15);
}

.boxtop {
    width: 100%;
    height: 132px;
}

.boxtop img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.boxbottom {
    flex: 1;

    display: flex;
    flex-direction: column;

    position: relative;
}
.boxbottom .cardfont:first-child {
    margin-top: 17px;
    height: 50px;
}

.boxbottom .cardfont:nth-child(2) {
    margin-top: 25px;
}

button {
    width: 38px;
    height: 38px;

    border: none;
    border-radius: 50%;

    background-color: #dc2929;
    color: white;

    position: absolute;
    right: 0;
    bottom: 10px;

    font-size: 0;
}

button::before {
    font-size: 17px;
}

.section-title {
    flex-basis: 100%;
    margin: 20px 0 5px 0;
    font-family: inter;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
}