$primary: #D62727;
$danger: #CE0808;
$light: #FFFFFF;
$warning: #F8F3F3;

.light {
    color: $light;
}
.primary{
    color: $primary;
}
.danger{
    color: $danger;
}
.warning{
    color: $warning;
}

$primary: #D62727;
$danger: #CE0808;
$light: #FFFFFF;
$warning: #F8F3F3;


@import "../node_modules/bootstrap/scss/bootstrap.scss"