$primary: #D62727;
$danger: #CE0808;
$light: #FFFFFF;
$warning: #F8F3F3;
$dark: #868686;
$info: #FFBFBF;

.light {
    color: $light;
}
.primary{
    color: $primary;
}
.danger{
    color: $danger;
}
.warning{
    color: $warning;
}
.dark{
    color: $dark;
}
.info{
    color: $info;
}

$primary: #D62727;
$danger: #CE0808;
$light: #FFFFFF;
$warning: #F8F3F3;
$dark: #868686;
$info: #FFBFBF;


@import "../node_modules/bootstrap/scss/bootstrap.scss"