$primary: #D62727;
$danger: #CE0808;
$light: #FFFFFF;

.light {
    color: $light;
}
.primary{
    color: $primary;
}
.danger{
    color: $danger;
}

$primary: #D62727;
$danger: #CE0808;
$light: #FFFFFF;


@import "../node_modules/bootstrap/scss/bootstrap.scss"